* {
    padding: 0;
    margin: 0%;
}

body {
    background: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
}
p{
    text-align: start;
}
h2{
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: cursive;
}
nav div{
    background-color: red;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px;
}
nav div a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
nav div:hover {
    background: blue;
    color: black;
}
nav div:active{
    background-color: gray;
    color: black;
}
.textos{
    border-radius: 50px;
    padding: 25px;
    background-color: rgba(125,125,125,0.5);
}
.textos div{
    margin-top: 25px;
}
.textos div h3{
    margin-bottom: 5px;
}
.logo {
    letter-spacing: 10px;
    text-shadow: black 5px 5px;
}
.imagenes {
    display: flex;
    flex-direction: column;
    justify-items: center;
    display: grid;
}
.imagenes img {
    width: 200px;
    height: 150px;
    border-radius: 50px;
    border: 5px solid white;
    margin-top: 10px;
    margin-bottom: 25px;
}
.index .imagenes{
    justify-content: space-evenly;
    align-items: center;
}
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px;
}


/*definiendo areas*/
header {
    grid-area: header;
    position: fixed;
    background: rgb(255,0,0);
    background: linear-gradient(135deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,255,1) 100%);
    left: 0%;
    right: 0%;
    top: 0%;
    margin: 0%;
}

nav{
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5em;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
    border-radius: 50px;
    margin-top: 25px;
    background-color: rgba(125,125,125,0.5);
}

section {
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 50px;
}

footer {
    grid-area: footer;
    margin-top: 25px;
}

/*acomodando areas*/

.index {
    margin: 10px;
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "section"
        "aside"
        "footer";
    gap: 10px;
}

@media (min-width:400px) {
    .index {
        margin-top: 3em;
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "section"
            "aside"
            "footer";
    }
    .redes {
        display: flex;
        justify-content: space-evenly;
        border-radius: 50px;
        padding: 10px;
    }
    .redes div img{
        height: 50px;
        width: 50px;
    }
    .imagenes {
        display: grid;
        grid-template-columns: 1fr;
    }
    nav{
    margin-top: 25px;
    }
}

@media (min-width:600px) {
    .index {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "section"
            "aside"
            "footer";
        }
        .redes div img{
            height: 75px;
            width: 75px;
        }
        .imagenes{
            grid-template-columns: 1fr 1fr;
        }
    .imagenes img {
        width: 250px;
        height: 200px;
    }
}

@media (min-width:1024px) {
    .index {
        display: grid;
        grid-template-areas:
            "header header"
            "nav nav"
            "main section"
            "aside aside"
            "footer footer";
            grid-template-rows: auto;
        }
        .imagenes{
            grid-template-columns: 1fr;
        }
}





/*seccion de consolas*/
.consolas{
    background-color: red;
}
.consolas nav{
    margin-top: 5em;
}
.consolas .imagenes img{
    border: 0;
}
.consolasMargin{
    margin-top: 6em;
}
.info{
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width:400px) {
    .consolas {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
        gap: 10px;
    }
    .imagenesConsolas {
        display: flex;
        flex-direction: row;
        display: grid;
    }   
    .consolas .imagenes {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width:600px) {
    .consolas {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
    }
    .consolas .redes {
        display: flex;
        flex-direction: row;
    }
    .consolas .imagenes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .consolas{
        background: rgb(255,0,0);
        background: linear-gradient(135deg, rgba(255,0,0,1) 0%, rgba(0,0,255,1) 0%, rgba(125,0,250,1) 50%, rgba(255,0,0,1) 100%);
    }
}

@media (min-width:1024px) {
    .consolas {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
    }
    
    .consolas .imagenes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}





/*seccion de shooters, racings y rolplay*/
.juegos{
    background-color: blueviolet;
}
.juegos nav{
    margin-top: 5em;
}
.juegos main{
    margin-top: 1em;
}
.juegos .info img{
    margin-bottom: 15px;
    width: 200px;
    height: 300px;
}
.portadas{
    margin: 10px;
}
.portadas img{
    height: 200px;
    width: 150px;
}

@media (min-width:400px) {
    .juegos .imagenes {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width:600px){
    .juegos .imagenes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }  
    .portadas img{
        height: 300px;
        width: 250px;
    }
    .juegos{
        background: rgb(255,0,0);
        background: linear-gradient(135deg, rgba(255,0,0,1) 0%, rgba(0,0,255,1) 0%, rgba(125,0,250,1) 50%, rgba(255,0,0,1) 100%);
    }
    
}

@media (min-width:1024px){
    .juegos .imagenes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .juegos aside{
        flex-direction: row-reverse;
    }
}