/*base*/
body {
  background: url(../img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: white;
  padding: 0;
  margin: 0%; }
  body h1 {
    font-family: 'Zen Dots', cursive;
    letter-spacing: 5px;
    text-shadow: black 5px 5px 5px; }
  body h2 {
    font-weight: 900;
    font-size: 30px;
    font-family: sans-serif; }
  body h3 {
    color: body h3 colorRose;
    font-size: 25px; }

.efectoHover:hover, .redes div:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 5px #fa00fa; }

/*partials*/
nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;
  margin-bottom: 25px; }
  nav div {
    justify-content: center;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px; }
    nav div:hover {
      box-shadow: 0px 0px 5px 5px #fa00fa;
      color: black; }
    nav div:active {
      background-color: #9600fa;
      color: black; }
    nav div a {
      color: black;
      text-decoration: none;
      font-weight: bolder; }

.redes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .redes div {
    border-radius: 50px;
    padding: 10px;
    margin-top: 25px;
    background-color: white; }
    .redes div a img {
      width: 50px;
      height: 50px; }

body {
  background: url(../img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: white;
  padding: 0;
  margin: 0%; }
  body h1 {
    font-family: 'Zen Dots', cursive;
    letter-spacing: 5px;
    text-shadow: black 5px 5px 5px; }
  body h2 {
    font-weight: 900;
    font-size: 30px;
    font-family: sans-serif; }
  body h3 {
    color: body h3 colorRose;
    font-size: 25px; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: white solid 5px;
  background-color: #fa00c8;
  margin: 0%; }

/*sections*/
.consolas main section {
  gap: 20px; }
  .consolas main section .info {
    background-color: black;
    border: white solid 5px; }
    .consolas main section .info h3 {
      margin-top: 0%;
      color: #fa00fa; }
    .consolas main section .info p {
      font-size: 20px;
      text-align: initial; }

.productos {
  margin: 0%; }
  .productos .producto {
    border-top: solid 5px white;
    border-bottom: solid 5px;
    background: #fa0064;
    background: linear-gradient(135deg, #fa0064 0%, #6400fa 75%);
    margin-bottom: 30px; }
    .productos .producto .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px; }
      .productos .producto .cards section {
        margin: 10px;
        background-color: white;
        border: 10px solid white; }
        .productos .producto .cards section div h3 {
          color: black; }
        .productos .producto .cards section div h4 {
          color: black;
          font-weight: 900;
          font-family: cursive; }
        .productos .producto .cards section div .click button {
          background-color: black;
          color: white;
          padding: 10px;
          cursor: pointer; }
          .productos .producto .cards section div .click button:hover {
            box-shadow: 0px 0px 5px 5px #fa00fa; }

.index {
  width: 100%; }
  .index .textos {
    margin: 0%;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    padding: 20px;
    background-color: black;
    padding-bottom: 15px; }
    .index .textos div {
      align-items: center; }
      .index .textos div .infoGame {
        gap: 10px; }
      .index .textos div h3 {
        font-size: 25px;
        color: #fa00fa;
        border-bottom: 5px solid #fa00fa; }
      .index .textos div p {
        text-align: initial;
        font-size: 20px; }
      .index .textos div img {
        width: 250px;
        height: 200px; }

.imagenes {
  display: flex;
  flex-direction: column;
  justify-items: center;
  display: grid; }
  .imagenes img {
    width: 200px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 25px; }

.cards .imagenes {
  gap: 20px; }
  .cards .imagenes .portadas {
    background-color: black;
    border: white solid 5px;
    padding: 5px;
    padding-top: 25px; }
    .cards .imagenes .portadas img {
      margin-bottom: 15px;
      width: 250px;
      height: 300px; }
    .cards .imagenes .portadas h3 {
      color: #fa00fa; }
    .cards .imagenes .portadas p {
      text-align: initial; }

/*definiendo areas*/
header {
  grid-area: header; }

nav {
  grid-area: nav; }

main {
  grid-area: main;
  margin-left: 10px;
  margin-right: 10px; }

aside {
  grid-area: aside; }

footer {
  grid-area: footer;
  margin-top: 25px; }

/*acomodando areas*/
.index {
  display: grid;
  grid-template-areas: "header" "nav" "main" "aside" "footer";
  gap: 10px; }

@media (min-width: 400px) {
  .index {
    display: grid;
    grid-template-areas: "header" "nav" "main" "aside" "footer"; }
  .redes div img {
    height: 50px;
    width: 50px; }
  .infoGame {
    display: flex;
    gap: 10px;
    flex-direction: column; } }

@media (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row; }
  .index {
    display: grid;
    grid-template-areas: "header" "nav" "main" "aside" "footer"; }
  header {
    background: #fa0064;
    background: linear-gradient(135deg, #fa0064 0%, #6400fa 75%); }
  .redes div img {
    height: 75px;
    width: 75px; }
  .infoGame {
    display: flex;
    flex-direction: row; } }

/*seccion de consolas*/
.consolas {
  display: grid;
  grid-template-areas: "header" "nav" "main" "section" "aside" "footer";
  gap: 10px; }

@media (min-width: 400px) {
  .consolas {
    display: grid;
    grid-template-areas: "header" "nav" "main" "aside" "footer";
    gap: 10px; }
    .consolas .imagenes {
      display: grid;
      grid-template-columns: 1fr; }
      .consolas .imagenes img {
        width: 300px;
        height: 250px; }
  .imagenesConsolas {
    display: flex;
    flex-direction: row;
    display: grid; } }

@media (min-width: 600px) {
  .consolas {
    display: grid;
    grid-template-areas: "header" "nav" "main" "aside" "footer"; }
  .consolas .redes {
    display: flex;
    flex-direction: row; }
  .consolas .imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

@media (min-width: 1024px) {
  .consolas {
    display: grid;
    grid-template-areas: "header" "nav" "main" "aside" "footer"; }
    .consolas .imagenes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; } }

/*secciones otras*/
.juegos {
  display: grid;
  grid-template-areas: "header" "nav" "main" "section" "aside" "footer";
  gap: 10px; }

.cards img {
  height: 150px;
  width: 200px; }

@media (min-width: 400px) {
  .juegos .imagenes {
    display: grid;
    grid-template-columns: 1fr; } }

@media (min-width: 600px) {
  .juegos .imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .portadas img {
    height: 300px;
    width: 250px; }
  .cards img {
    height: 300px;
    width: 350px; } }

@media (min-width: 1024px) {
  .juegos .imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  .juegos aside {
    flex-direction: row-reverse; } }
