@import "partials/nav";
@import "partials/aside";
@import "base/base";
@import "partials/index";
@import "partials/contacto";
@import "partials/header";
@import "partials/consolas";
@import "partials/juegos";
@import "partials/productos";

/*definiendo areas*/
header {
    grid-area: header;
}

nav{
    grid-area: nav;
}

main {
    grid-area: main;
    margin-left: 10px;
    margin-right: 10px;
}

aside {
    grid-area: aside;
}

section {
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 50px;
}

footer {
    grid-area: footer;
    margin-top: 25px;
}

/*acomodando areas*/

.index {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "section"
        "aside"
        "footer";
    gap: 10px;
    margin: 10px;
}

@media (min-width:400px) {
    .index {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "section"
            "aside"
            "footer";
    }
    .redes{
        div{
            img{
                height: 50px;
                width: 50px;
            }
        }
    }
    .imagenes {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width:600px) {
    .index {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "section"
            "aside"
            "footer";
        }
        header{
            background: rgb(250,0,100);
            background: linear-gradient(135deg, rgba(250,0,100,1) 0%, rgba(100,0,250,1) 75%);
        }
        .redes{
            div{
                img{
                    height: 75px;
                    width: 75px;
                }
            }
        }
        .imagenes{
            grid-template-columns: 1fr 1fr;
            img {
                width: 250px;
                height: 200px;
                }
        }
}

@media (min-width:1024px) {
    .index {
        display: grid;
        grid-template-areas:
            "header header"
            "nav nav"
            "main section"
            "aside aside"
            "footer footer";
            grid-template-rows: auto;
        }
        .imagenes{
            grid-template-columns: 1fr;
        }
}





/*seccion de consolas*/

@media (min-width:400px) {
    .consolas {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
        gap: 10px;
        .imagenes {
            display: grid;
            grid-template-columns: 1fr;
            img {
                width: 300px;
                height: 250px;
                }
        }
    }
    .imagenesConsolas {
        display: flex;
        flex-direction: row;
        display: grid;
    }
}

@media (min-width:600px) {
    .consolas {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
    }
    .consolas{
        .redes {
            display: flex;
            flex-direction: row;
        }
        .imagenes {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (min-width:1024px) {
    .consolas {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
        .imagenes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}





/*secciones otras*/
.cards{
    img {
        height: 150px;
        width: 200px;
        border-radius: 50px;
    }
}

@media (min-width:400px) {
    .juegos{
        .imagenes {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}

@media (min-width:600px){
    .juegos{
        .imagenes {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        nav{
            margin-top: 25px;
        }
    }
    .portadas{
        img{
            height: 300px;
            width: 250px;
        }
    }
    .cards{
        img {
            height: 300px;
            width: 350px;
            border-radius: 50px;
        }
    }
    
}

@media (min-width:1024px){
    .juegos{
        .imagenes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        aside{
            flex-direction: row-reverse;
        }
    }
}