.formulario{
    width: 80%;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
}
nav{
    div{
        a{
            color: black;
            text-decoration: none;
            font-weight: bolder;
        }
    }
}
