.consolas{
    main{
        section{
            gap: 20px;
            .info{
                background-color: black;
                border: solid $colorRose;
                border-radius: 25px;
                padding: 10px;
                h3{
                    margin-top: 0%;
                    color: $colorRose;
                }
                p{
                    font-size: 20px;
                }
                .imagenes{
                    img{
                        border: 0;
                    }
                }
            }
        }
    }
}
.consolasMargin{
    margin-top: 6em;
}
