.consolas{
    main{
        margin: 0px 20px 0px 20px;
        section{
            gap: 20px;
            .info{
                background: #353535;
                h3{
                    margin-top: 0%;
                    color: $colorRose;
                }
                p{
                    text-align: initial;
                    margin: 10px;
                }
            }
        }
    }
}