.index{
    width: 100%;
    .imagenesIndex{
        justify-content: space-evenly;
        align-items: center;
        div{
            img {
                width: 200px;
                height: 200px;
                border-radius: 50px;
                border: 5px solid white;
                margin-top: 10px;
                margin-bottom: 25px;
            }
        }
    }
    .textos{
        box-shadow: 0px 0px 5px 5px $colorRose;
        border-radius: 50px;
        padding: 10px;
        padding-top: 0px;
        background-color: black;
        padding-bottom: 15px;
        div{
            margin-top: 45px;
            h3{
                font-size: 25px;
                color: $colorRose;
                border-bottom: 5px solid rgb(250, 0, 250);
            }
            p{
                font-size: 20px;
                margin-top: 0%;
                margin-bottom: 0%;
            }
        }
    }
} 

.imagenes {
    display: flex;
    flex-direction: column;
    justify-items: center;
    display: grid;
    img {
        width: 200px;
        height: 150px;
        border-radius: 50px;
        border: 5px solid white;
        margin-top: 10px;
        margin-bottom: 25px;
        @extend .efectoHover;
    }
}