.index{
    width: 100%;
    .textos{
        margin: 0%;
        border-top: solid 5px white;
        border-bottom: solid 5px white;
        padding: 20px;
        background-color: black;
        padding-bottom: 15px;
        div{
            align-items: center;
            .infoGame{
                gap: 10px;
            }
            h3{
                font-size: 25px;
                color: $colorRose;
                border-bottom: 5px solid rgb(250, 0, 250);
            }
            p{
                text-align: initial;
                font-size: 20px;
            }
            img {
                width: 250px;
                height: 200px;
            }
        }
    }
} 

.imagenes {
    display: flex;
    flex-direction: column;
    justify-items: center;
    display: grid;
    img {
        width: 200px;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 25px;
    }
}