.juegos{
    .info{
        img{
            margin-bottom: 15px;
            width: 200px;
            height: 300px;
        }
    }
}
.portadas{
    margin: 10px;
    img{
        height: 200px;
        width: 150px;
    }
    .portadaRose{
        @include borde($colorRose);
    }
    .portadaBlue{
        @include borde($colorBlue);
    }
}
