.cards{
    .imagenes{
        gap: 20px;
        .portadas{
            background-color: black;
            border: solid $colorRose;
            border-radius: 25px;
            padding: 5px;
            img{
                margin-bottom: 15px;
                width: 250px;
                height: 300px;
            }
            h3{
                color: rgb(250,0,250);
            }
        }
    }
}

