.juegos{
    .portadas{
        h3{
            color: &colorRose;
            font-size: 25px;
        }
        img{
            margin-bottom: 15px;
            width: 250px;
            height: 300px;
        }
    }
}
