.consolas{
    main{
        .info{
            margin-left: 10px;
            margin-right: 10px;
            .imagenes{
                img{
                    border: 0;
                }
            }
        }
    }
}
.consolasMargin{
    margin-top: 6em;
}
