header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: white solid 5px;
    background-color: rgb(250, 0, 200);
    margin: 0%;
    h1 {
        letter-spacing: 10px;
        text-shadow: black 5px 5px 5px; }
}