nav{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    background: #353535;
    margin: 10px 20px 10px 20px;
    padding: 20px;
    div{
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        a{
            color: white;
            text-decoration: none;
            font-weight: bolder;
            &:hover {
                color: $colorRose;
            }
        }
        &:active{
            color: $colorRose;
        }
    }
}