nav{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 25px;
    div{
        background-color: white;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 25px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 5px 5px rgb(250, 0, 250);
        &:hover {
            background: rgb(250, 0, 250);
            color: black;
        }
        &:active{
            background-color: rgb(150, 0, 250);
            color: black;
        }
        a{
            color: black;
            text-decoration: none;
            font-weight: bolder;
        }
    }
}