body {
    background: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
    padding: 0;
    margin: 0%;
    h1{
        font-family: 'Zen Dots', cursive;
        letter-spacing: 5px;
        text-shadow: black 5px 5px 5px; 
    }
    h2{
        font-weight: 900;
        font-size: 30px;
        font-family: sans-serif;
    }
    h3{
        color: &colorRose;
        font-size: 25px;
    }
}